body { background-color:#FFFFCC;
     }
* { color:blue; }
h1 { color:red; font-size:48px; }
#main {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 200px;
    padding: 0px;
    width: auto;
    border: 0px;
}
#quotes {
    background-color: #FFFFAA;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 2;
}
#content {
    position: absolute;
    width: 800px;
    top: 30px;
    left-margin: 0px;
    right-margin: 0px;
    z-index: 1;
}
#navigation {
    background-color: #FFFFAA;
    width: 200px;
    height: 100%;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
