<?xml version="1.0" encoding="utf-8"?>
<bmoviecreatorconfig>
  <basedirectory>/home/mibeer/workspace/BMovieReviewer</basedirectory>
  <configfile>config.xml</configfile>
  <coverwidth>300</coverwidth>
  <datadirectory>dat</datadirectory>
  <encoding>utf-8</encoding>
  <iotimeout>30000</iotimeout>
  <jpeg>
    <id>jpeg</id>
  </jpeg>
  <jpeg>
    <mime>image/jpeg</mime>
  </jpeg>
  <jpeg>
    <quality>0.85</quality>
  </jpeg>
  <logourl>dat/logo.png</logourl>
  <mimetex>text/tex</mimetex>
  <mimexml>text/xml</mimexml>
  <server>
    <certificate>standard</certificate>
  </server>
  <server>
    <dir></dir>
  </server>
  <server>
    <name>bmovieprojekt.de</name>
  </server>
  <server>
    <passwordstring>authinfo</passwordstring>
  </server>
  <server>
    <postbmovie>movie_post.php</postbmovie>
  </server>
  <server>
    <postjpeg>uploaded.php</postjpeg>
  </server>
  <server>
    <postquotations>quote_post.php</postquotations>
  </server>
  <server>
    <posttex>uploaded.php</posttex>
  </server>
  <server>
    <postxml>uploaded.php</postxml>
  </server>
  <server>
    <protocoll>https</protocoll>
  </server>
  <server>
    <securitylevel>fuckit</securitylevel>
  </server>
  <server>
    <userstring>login</userstring>
  </server>
  <spellcheck>
    <dictionaries>dat/</dictionaries>
  </spellcheck>
  <spellcheck>
    <mode>enabled</mode>
  </spellcheck>
  <splash>
    <fadingtime>5000</fadingtime>
  </splash>
  <splash>
    <upload_1>dat/stage_1.png</upload_1>
  </splash>
  <splash>
    <upload_2>dat/stage_2.png</upload_2>
  </splash>
  <splash>
    <upload_3>dat/stage_3.png</upload_3>
  </splash>
  <splash>
    <upload_4>dat/stage_4.png</upload_4>
  </splash>
  <splash>
    <upload_5>dat/stage_5.png</upload_5>
  </splash>
  <splash>
    <upload_6>dat/stage_6.png</upload_6>
  </splash>
  <splash>
    <uploads>enabled</uploads>
  </splash>
  <texcommand>pdflatex</texcommand>
  <xml>
    <bmoviesty>internalResource</bmoviesty>
  </xml>
  <xmlformat>0</xmlformat>
</bmoviecreatorconfig>
